<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">MIS Project</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="@Url.Action("Index","Home")" class="elements">Home</a></li>

                <li><a href="@Url.Action("Anime","Anime")" class="elements">All Anime</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="@Url.Action("Seasons","Seasons")" class="elements">Current Season</a></li>
            </ul>
        </div>
    </nav>

    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - CreAsian</p>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
